language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - hhvm # ignore errors, see below

# lock distro so new future defaults will not break the build
dist: trusty

matrix:
  allow_failures:
    - php: hhvm

services:
  - mysql

sudo: false

install:
  - composer install --no-interaction

before_script:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS test;'

script:
  - DB_USER=root DB_PASSWD= ./vendor/bin/phpunit --coverage-text
